@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700|Work+Sans:300,400,500,600,700&display=swap);

*{
    margin: 0;
}

:root{
    --header-color: #00b39b;
    --main-nav: #ababab;

}


body{
    font-weight: 400;
    font-family: Roboto,Arial,sans-serif;
    color: #747474;
}

header{
    background: transparent;
    width: 100%;
    max-width: 1012px;
    margin: 0 auto;
}

header a,ul{
    text-decoration: none;
    list-style: none;
}
.logo-docplanner{
    height: 33px;
    width: 268px;
}
.main-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
}

.main-nav {
    font-family: 'Roboto', sans-serif;
}

.main-menu{
    list-style: none;
    display: flex;
    align-items: center;
    height: 33px;
}

.main-menu .active-tab{
    color: var(--header-color);
}

.main-menu a{
    color: var(--main-nav);
}

.main-menu a:hover{
    color: var(--header-color);
}


.main-menu > li {
    margin: 0 12px;
}
.depart-menu{
    position: relative;
}

.dropdown{
    display: none;
    padding-top: 10px;
    position: absolute;
    min-width: 220px;
    margin-left: -100px;
    background: #fff;
    box-shadow: 0 5px 10px 0 #d3cfc9;
    z-index: 1;
}  
.dropdown a{
    margin-left: 0;
    color: #ababab;
    padding: 12px 16px;
    display: block;
} 
.dropdown li{
    list-style: none;
}
.dropdown ul{
    padding: 0;
}
.dropdown a:hover{
    background-color: #f1f1f1;
} 
.depart-menu:hover .dropdown{
    display: block;
}

main, section{
    display: block;
}

.top{
    margin: 2.0625rem auto 3.75rem;
}

.top h1{
    text-align: center;
    color: rgb(0, 179, 155)
}

.section-inner{
    max-width: 1012px;
    padding: 0 20px;
    position: relative;
}
.top-logo{
    display: block;
    margin: 0 auto;
}

img{
    border: 0;
}

h1, h2, h3, h4{
    margin: 1em 0;
    font-family: 'Work Sans', Arial, sans-serif;
    font-weight: 300;
    letter-spacing: -0.3px;
}

.grid{
    margin: auto;
    display: flex;
}

.col-2{
    width: 50%;
    padding: 10px;
    margin: 10px;
    line-height: 1.75;
    font-weight: 400;
}


.services-items{
        background: #fff;
        margin: 20px;
        padding: 2em 2em 0;
        border-radius: 10px;
        transition: all .35s ease 0s;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
}

.services-items h1{
    color: #fff;
    font-weight: 400;
    margin: .3rem 0;
    font-size: 1.625em;
}

.services-items h2{
    font-size: 1.5em;
    font-weight: 300;
    line-height: 1.2;
    margin: 0;
    color: #fff;
}

.services-cards{
    display: flex;
}

.card-marketplace{   
     background: #00b39b;
}

.card-marketplace:hover {
    opacity: .9;
}

.card-doctors{
    background: #3d83df;
}

.card-clinics:hover{
    opacity: .9;
}

.card-clinics{
    background: #1b2734;
}

.card-clinics:hover{
    opacity: .9;
}

.services-items .style-select{
    background: transparent;
    vertical-align: middle;
    outline: 0;
    background: none;
    border: 0;
    color: #fff;
    font-family: Roboto,Arial,sans-serif;
    font-weight: 400;
    letter-spacing: .04em;
    font-size: 1.2rem;
    text-align: center;
}

.services-items .style-select select{
    width: 100%;
    background: transparent;
    border: 0;
    border-radius: 0;
    outline: 0;
    text-transform: none;
    text-decoration: underline;
    cursor: pointer;
    color: white;
}

.services-items .style-select select option{
    font-size: 1rem;
    line-height: 1.2;
    color: #333;
}


.style-select select {
	width:100%;
	background:transparent;
	border:0;
	border-radius:0;
	height:40px;
	text-transform:uppercase;
	outline:0
}

/* .style-select{
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
    transition: all .2s ease 0s;
} */


.style-select {
	vertical-align:middle;
	outline:0;
	border:0;
	border-radius:4px;
	background:#3d83df;
	font-family: Work Sans,Arial,sans-serif;
	color:#333;
	background:#fff;
	font-weight:600;
	letter-spacing:.04em;
	font-size:.75rem;
	text-align:center;
	text-decoration:none!important;
	transition:all .2s ease 0s;
	cursor:pointer;
}

.services-items .style-select:last-child{
    margin-bottom: 35px;
}

.brands{
    margin: 2.5rem auto 3.125rem;
    display: flex;
    justify-content: space-between;
}

.brands h1{
    color: #00b39b;
    padding-right: 1em;
    width: 33%;
}

.brands-logos{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 0;
    width: 67%;
    list-style: none;
}

.brands-logos h1{
    float: left;
    width: 33%;
    font-size: 1.625em;
    margin: 0.25em 0 0.35em;
    padding-right: 1em;
    line-height: 1.3;
}

.brands-logos li {
    font-size: 1rem;
    display: inline-block;
    width: 160px;
    padding: 5px 0;
}

.brands-logos a{
    display: inline-block;
    padding: 5px 0;
}

a{
    text-decoration: none;
    color: #3d83df;
    outline: 0;
    transition: all 0.2s ease 0s;
    background-color: transparent;
}

.brands-logos a svg{
    height: 20px;
    width: auto;
    max-width: 100%;
    padding-left: 10px;
}

ul{
    margin: 0;
    padding: 0;
}
.brands-logos a:hover path {
    fill: #00bfa5;
}

.brands-logos a path {
    transition: all 0.2s ease 0s;
    fill: hsla(0, 0%, 67%, 0.7);
}

.brands-logos .clinicloud img, 
.brands-logos .gipo img, 
.brands-logos .tuotempo img {
    transition: all 0.2s ease 0s;
    filter: invert(98%) sepia(2%) saturate(0) hue-rotate(180deg) brightness(300%) contrast(0);
    -webkit-filter: invert(98%) sepia(2%) saturate(0) hue-rotate(180deg) brightness(300%) contrast(0);
    opacity: 0.55;
}

.brands-logos .tuotempo {
    width: 175px;
}

.brands-logos .gipo{
    width: 85px;
}

.brands-logos .tuotempo img {
    height: 16px;
}

.brands-logos .clinicloud:hover img, 
.brands-logos .gipo:hover img, 
.brands-logos .tuotempo:hover img {
    filter: none;
    opacity: 1;
}

/*stats*/
.stats{
    background: #e5faf8;
    background-image: linear-gradient(-45deg,rgba(0,204,177,.01) 5%,rgba(61,199,223,.1));
    padding: 1.875em 0 .625em;
    overflow: hidden;
    margin: 3.125rem auto 5.5rem;
}
.stats-container{
    height: 600px;
    display: flex;
    max-width: 1015px;
    padding: 0 20px;
    margin: 0 auto;
}
.logo-stats{
    transform: translate(-120px,70px);
}
.stats-1{
    margin: 32px 0px 0px;
    padding: 10px;
}
.stats-1 h1{
    font-family: Work Sans;
    color: #00b39b;
    font-size: 36px;
    /* font-weight: 400; */
    margin: 0;
    padding: 0;
}
.stats-1 p{
    max-width: 415px;
    font-size: 14px;
    margin: 22.4px 0px;
    font-weight: 400;
    line-height: 1.7142857143;
    color: #747474;
}
.stats-2{
    display: flex;
    flex-wrap: wrap;
}
.flag-container{
    height: 220px;
    width: 200px;
    padding: 15px;
    background: #ffffff;
    border-radius: 5px;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.05);
    text-align: center;
    transform: translate(20px,20px);
}
.text-flag{
    height: 220px;
    width: 198px;
    padding: 15px 0;
    text-align: center;
    margin: 0px;
}
.text-flag h3{
    font-size: 24px;
    color: #00b39b;
    margin: 12px 0;
    font-weight: 300;
}
.text-flag p{
    color: #747474;
    font-size: 13px;
}
.aganda-container{
    height: 220px;
    width: 200px;
    padding: 15px;
    background: #ffffff;
    border-radius: 5px;
    transform: translate(40px);
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.05);
    text-align: center;
}
.text-aganda{
    height: 220px;
    width: 198px;
    padding: 15px 0;
    text-align: center;
    margin: 0px;
}
.text-aganda h3{
    font-size: 24px;
    color: #00b39b;
    margin: 12px 0;
    font-weight: 300;
}
.text-aganda p{
    color: #747474;
    font-size: 13px;
}
.patients-container{
    height: 220px;
    width: 200px;
    padding: 15px;
    background: #ffffff;
    border-radius: 5px;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.05);
    text-align: center;
    transform: translate(20px,-10px);
}
.text-patients{
    height: 220px;
    width: 198px;
    padding: 15px 0;
    text-align: center;
    margin: 0px;
}
.text-patients h3{
    font-size: 24px;
    color: #00b39b;
    margin: 12px 0;
    font-weight: 300;
}
.text-patients p{
    color: #747474;
    font-size: 13px;
}
.active-doctors-container{
    height: 220px;
    width: 200px;
    padding: 15px;
    background: #ffffff;
    border-radius: 5px;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.05);
    text-align: center;
    transform: translate(40px,-30px);
}
.text-active-doctors{
    height: 220px;
    width: 198px;
    padding: 15px 0;
    text-align: center;
    margin: 0px;
}
.text-active-doctors h3{
    font-size: 24px;
    color: #00b39b;
    margin: 12px 0;
    font-weight: 300;
}
.text-active-doctors p{
    color: #747474;
    font-size: 13px;
}

.offices-slider{
    display: flex;
    flex-wrap: wrap;
    margin: 80px auto 80px;
    max-width: 1015px;
}

.office-img{
    margin: 10px;
    cursor: pointer;
}

.office-img:hover{
    box-shadow: 0 -2px 12px 0 rgb(0,0,0,.35);
    background: hsla(0, 0%, 100%, .98);
    border-radius: 5px;
}

.office-img img{
    border-radius: 5px;
}

.office-description{
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.66666666667;
    padding: 1.11111111em;
    color: #747474;
}

.offices-cities center h1{
    color: #00b39b;
    font-weight: 300;
    font-family: Work Sans;
    font-size: 2.1425871429em;
    letter-spacing: .3px;
}

.offices-cities center p{
    line-height: 1.7142857143;
    font-weight: 400;
    color: #747474;
    font-size: .875em;
}

.office-description .btn{
    float: right;
    cursor: pointer;
}

.btn{
    outline: 0;
    border: 0;
    border-radius: 4px;
    font-size: 0.625em;
    padding: 1em 1.5em;
    background: #3d83df;
    line-height: 1em;
    color: #fff;
    font-weight: 700;
    letter-spacing: .04em;
    text-align: center;
    text-decoration: none !important;
    text-transform: uppercase;
    transition: all .2s ease 0s;
}

.join-us{
    margin: 5rem auto;
}

.join-us center h1{
    font-weight: 300;
    font-family: Work Sans;
    font-size: 2.1425871429em;
    letter-spacing: .3px;
}

.main-footer{
    border-top: 1px solid #eef2f2;
    font-size: .75em;
    color: #ababab;
    text-align: center;
    padding: 1em 0;
}

.main-footer p{
    margin-top: 19.2px;
}

.main-footer a{
    text-decoration: none;
    color: #3d83df;
    outline: 0;
    transition: all .2s ease 0s;
}