@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700|Work+Sans:300,400,500,600,700&display=swap);

*{
    margin: 0;
}

:root{
    --header-color: #00b39b;
    --main-nav: #ababab;

}


body{
    font-weight: 400;
    font-family: Roboto,Arial,sans-serif;
    color: #747474;
}

header{
    background: transparent;
    width: 100%;
    max-width: 1012px;
    margin: 0 auto;
}

header a,ul{
    text-decoration: none;
    list-style: none;
}
.logo-docplanner{
    height: 33px;
    width: 268px;
}
.main-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
}

.main-nav {
    font-family: 'Roboto', sans-serif;
}

.main-menu{
    list-style: none;
    display: flex;
    align-items: center;
    height: 33px;
}

.main-menu .active-tab{
    color: var(--header-color);
}

.main-menu a{
    color: var(--main-nav);
}

.main-menu a:hover{
    color: var(--header-color);
}

.dropdown{
    list-style: none;
    display: none;
    position: absolute;
    right: 10px;
    width: 200px;
    top: 50px;
}

.main-menu > li {
    margin: 0 12px;
}
.depart-menu{
    position: relative;
}
.depart-menu:hover .dropdown {
    display: block;
    background-color: transparent;
}

main, section{
    display: block;
}

.top{
    margin: 2.0625rem auto 3.75rem;
}

.top h1{
    text-align: center;
    color: rgb(0, 179, 155)
}

.section-inner{
    max-width: 1012px;
    padding: 0 20px;
    position: relative;
}
.top-logo{
    display: block;
    margin: 0 auto;
}

img{
    border: 0;
}

h1, h2, h3, h4{
    margin: 1em 0;
    font-family: 'Work Sans', Arial, sans-serif;
    font-weight: 300;
    letter-spacing: -0.3px;
}

.grid{
    margin: auto;
    display: flex;
}

.col-2{
    width: 50%;
    padding: 10px;
    margin: 10px;
    line-height: 1.75;
    font-weight: 400;
}


.services-items{
        background: #fff;
        margin: 20px;
        padding: 2em 2em 0;
        border-radius: 10px;
        transition: all .35s ease 0s;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
}

.services-items h1{
    color: #fff;
    font-weight: 400;
    margin: .3rem 0;
    font-size: 1.625em;
}

.services-items h2{
    font-size: 1.5em;
    font-weight: 300;
    line-height: 1.2;
    margin: 0;
    color: #fff;
}

.services-cards{
    display: flex;
}

.card-marketplace{   
     background: #00b39b;
}

.card-marketplace:hover {
    opacity: .9;
}

.card-doctors{
    background: #3d83df;
}

.card-clinics:hover{
    opacity: .9;
}

.card-clinics{
    background: #1b2734;
}

.card-clinics:hover{
    opacity: .9;
}

.services-items .style-select{
    background: transparent;
    vertical-align: middle;
    outline: 0;
    background: none;
    border: 0;
    color: #fff;
    font-family: Roboto,Arial,sans-serif;
    font-weight: 400;
    letter-spacing: .04em;
    font-size: 1.2rem;
    text-align: center;
}

.services-items .style-select select{
    width: 100%;
    background: transparent;
    border: 0;
    border-radius: 0;
    outline: 0;
    text-transform: none;
    text-decoration: underline;
    cursor: pointer;
    color: white;
}

.services-items .style-select select option{
    font-size: 1rem;
    line-height: 1.2;
    color: #333;
}


.style-select select {
	width:100%;
	background:transparent;
	border:0;
	border-radius:0;
	height:40px;
	text-transform:uppercase;
	outline:0
}

/* .style-select{
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
    transition: all .2s ease 0s;
} */


.style-select {
	vertical-align:middle;
	outline:0;
	border:0;
	border-radius:4px;
	background:#3d83df;
	font-family: Work Sans,Arial,sans-serif;
	color:#333;
	background:#fff;
	font-weight:600;
	letter-spacing:.04em;
	font-size:.75rem;
	text-align:center;
	text-decoration:none!important;
	transition:all .2s ease 0s;
	cursor:pointer;
}

.services-items .style-select:last-child{
    margin-bottom: 35px;
}

.brands{
    margin: 2.5rem auto 3.125rem;
    display: flex;
    justify-content: space-between;
}

.brands h1{
    color: #00b39b;
    padding-right: 1em;
    width: 33%;
}

.brands-logos{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 0;
    width: 67%;
    list-style: none;
}

.brands-logos h1{
    float: left;
    width: 33%;
    font-size: 1.625em;
    margin: 0.25em 0 0.35em;
    padding-right: 1em;
    line-height: 1.3;
}

.brands-logos li {
    font-size: 1rem;
    display: inline-block;
    width: 160px;
    padding: 5px 0;
}

.brands-logos a{
    display: inline-block;
    padding: 5px 0;
}

a{
    text-decoration: none;
    color: #3d83df;
    outline: 0;
    transition: all 0.2s ease 0s;
    background-color: transparent;
}

.brands-logos a svg{
    height: 20px;
    width: auto;
    max-width: 100%;
    padding-left: 10px;
}

ul{
    margin: 0;
    padding: 0;
}
.brands-logos a:hover path {
    fill: #00bfa5;
}

.brands-logos a path {
    transition: all 0.2s ease 0s;
    fill: hsla(0, 0%, 67%, 0.7);
}

.brands-logos .clinicloud img, 
.brands-logos .gipo img, 
.brands-logos .tuotempo img {
    transition: all 0.2s ease 0s;
    filter: invert(98%) sepia(2%) saturate(0) hue-rotate(180deg) brightness(300%) contrast(0);
    -webkit-filter: invert(98%) sepia(2%) saturate(0) hue-rotate(180deg) brightness(300%) contrast(0);
    opacity: 0.55;
}

.brands-logos .tuotempo {
    width: 175px;
}

.brands-logos .gipo{
    width: 85px;
}

.brands-logos .tuotempo img {
    height: 16px;
}

.brands-logos .clinicloud:hover img, 
.brands-logos .gipo:hover img, 
.brands-logos .tuotempo:hover img {
    filter: none;
    opacity: 1;
}


